.box {
  position: relative;
}

.bgHImg {
  max-height: 500px;
  width: 100%;
}

.getStartedBtn {
  background: #dd7448;
}

.img_title {
  /* margin-top: 17rem; */
  position: absolute;
  color: red;
  text-align: center;
  left: 0;
  right: 4.2%;
  top: 67%;
  letter-spacing: 3px;
  font-family: "Montez", cursive;
}
