@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap");

.box {
  position: relative;
}

.text_spacing {
  letter-spacing: 2px;
}

.bgHImg {
  position: relative;
  right: 10%;
  top: 2.5%;  
  float: right;
  width:"700px";
  height:"700px";
}

/* .getStartedBtn {
  background: #dd7448;
}

.getStartedBtn:hover {
  background: linear-gradient(30deg, rgba(7, 135, 56, 0.5) 5%, #855205 100%);
} */

/* p{
    color:black ;
  }
   */

.img_title {
  margin-top: 10px;
  position: absolute;
  color: rgb(0, 0, 0);
  text-align: center;
  left: 25%;
  top: 15rem;
  letter-spacing: 3px;
  font-family: 'Barlow', 'san-serif';
  font-style: normal;
  font-weight: normal;
  font-size: larger;
  z-index: 999;
}