.box {
  position: relative;
}


p{
  color:black ;
}


.img_title {
  /* margin-top: 17rem; */
  /* overflow: hidden; */
  position: relative;
  color: rgb(0, 0, 0);
  left: 17%;
  top: 12rem;
  letter-spacing: 8px;
  font-family: "Montez", cursive;
}


