
  .wrapper {
    margin: 10vh;
  }
  
  .text_style{
        /* margin-top: 17rem; */
        position: absolute;
        color: rgb(0, 0, 0);
        text-align: center;
        left: 0;
        right: 0%;
        top: 100%;
        letter-spacing: 8px;
        font-family: "Montez", cursive;
  }



  