@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');
html,
body {
  height:100%;
  width:100%;
  margin:0%;
  padding:0%;
  overflow-x: hidden;
  background-color: rgb(253, 253, 253);
  font-family: 'Barlow', sans-serif;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  position: relative;
  top: 7rem;
  left: 30px;
  font-family: 'Barlow';
  font-weight:bolder;
  font-size: 44px;
  color: black;
}

/* h2 used for the kounsel title logo only*/
h2{
  font-family: 'Barlow';
  font-weight:bolder;
  font-size: 72px;
  color: rgb(255, 255, 255);
}

.footer-position{
  position: relative;
  top: 10rem;
}

.left-aligned-img{
  position: relative;
  top: 7rem;
  left: 8rem;
  float:left;
}

.body-text{
  position: relative;
  width: 80rem;
  /* height: 298px; */
  left: 23rem;
  top: 13rem;
  color: #000000;
  font-family: 'Barlow', 'san-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
  color: #000000;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.title-position{
  position:relative;
  left: 10rem;
}

.about-footer-position{
  position: relative;
  top: 20rem;
}